<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="BaseUri" value="(please fill in)" />
  <add key="SumoApiUri" value="https://api.sumologic.com/api/v1/" />
  <add key="SumoAccessId" value="(please fill in)" />
  <add key="SumoAccessKey" value="(please fill in)" />
  <add key="SumoLogWaitTimeBeforeStartSearchMs" value="60000" />
  <add key="SumoLogIntervalWaitTimeBeforeSearchQueryMs" value="60000" />
  <add key="SumoApiRequestRateLimit" value="4" />
  <add key="HangfireWorkerCount" value="10" />
</appSettings>